WebApp3/src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/localhost_7001/WebApp/DataWSImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://serverWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://serverWS/"><xsd:complexType name="dataEntity"><xsd:sequence><xsd:element name="ip" type="xsd:string" minOccurs="0"/><xsd:element name="time" type="xsd:dateTime" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="getData"/><xsd:complexType name="printMessageResponse"/><xsd:complexType name="printMessage"/><xsd:complexType name="getDataResponse"><xsd:sequence><xsd:element name="return" type="ns0:dataEntity" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="getData" type="ns0:getData"/><xsd:element name="printMessageResponse" type="ns0:printMessageResponse"/><xsd:element name="printMessage" type="ns0:printMessage"/><xsd:element name="getDataResponse" type="ns0:getDataResponse"/></xsd:schema>